body{
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
button{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(38,38,186,1);
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}
button:hover{
    background-color:rgb(62, 62, 184) ;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input{
    border-radius: 5px;
    background-color: rgba(38,38,186,1);
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    border:none;
}
input:focus{
    outline: none;
    background-color:rgb(43, 43, 201) ;
}
li{
    border-bottom: 2px solid rgba(245, 245, 220, 0.281);
}
.streaks{
    overflow-y: auto;
    width: 270px;
    text-align: left;
    border-radius: 5px;
    margin-top: 25px;
    background: rgb(8,6,38);
    background: linear-gradient(166deg, rgba(8,6,38,1) 0%, rgba(38,38,186,1) 36%, rgba(98,228,255,1) 100%);
    height: 400px;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
.streaks::-webkit-scrollbar{
    width: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    margin-right: 5px ;
    transform: translateX(-5px);
}
.streaks::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: rgb(94, 103, 110);
    border-radius: 5px;
    margin-right: 5px ;
    border:1px solid aliceblue;
}
.clearStreak{
  background-color:  rgb(46, 163, 187)
}
.clearStreak:hover{
    background-color: rgb(35, 125, 143) ;
}
.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 50px;
    height: 600px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    margin: 25px;
}
.buttons{
    margin-bottom: 20px;
}
select{
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(38,38,186,1);
    border: none;
    height: 30px;
    margin-left: 10px;
    font-weight: bold;
}
select:focus{
    outline: none;
    background-color:rgb(45, 45, 165) ;
}
option{
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
select>option:focus{
    cursor: pointer;
    border: none;
    outline: none;
}